<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-red-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      I am <strong>Marlon Geovany Castro Mejia,</strong> with a wealth of experience
      in collaborating with <strong> startups</strong> to efficiently deliver tested
      products within tight timelines. I have a proven track record of achieving
      comprehensive test coverage in applications.
    </p>
    <p>
      My professional background largely involves working with International
      teams, and I have an advanced level of English proficiency, as evidenced
      by my <strong>
        <a href="https://www.efset.org/cert/VVDGX5">
          EF SET SCORE C1 Advanced score: 66/100</a
        ></strong
      >
    </p>
    <p>
      Notably, I have significantly enhanced quality assurance standards by
      substantially increasing test coverage in the company's primary
      application using Cypress. I took the initiative to build this from the
      ground up and successfully achieved an outstanding <strong>
        +90% test coverage.</strong
      >
    </p>
  </div>
</section>
<img src="/me.png" class="rounded-lg size-64 order-1 md:order-2" />
