---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "July 2022 - Present",
    title: "Principal Front-End Engineer - SAVVLY",
    description:
      "Responsible for the advisor web app and the mobile app, components and utilities for the creation and development of web applications. Improved aplication testing coverage from 10% to over 80% and still improving. Implemented continuous integration and deployment measures.",
    link: "https://savvly.com/",
  },
  {
    date: "September 2023 - July 2024",
    title: "Front-End Engineer  − OneTouch",
    description:
      "I spearheaded the development of a robust administrative dashboard app for Gofood. Utilizing React, Vite, and Tailwind CSS, I crafted an intuitive interface for managing restaurants, orders, branches, and clients. Implementation of Jenkins automated the deployment process, ensuring a seamless workflow.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
