---
import NavItem from './NavItem.astro'
---
<header
  class={`
    flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    w-full xl:w-[1120px]
    z-10
  `}
>
  <nav
    class={`
      border border-black rounded-lg
      px-3 py-3
      flex flex-row items-center
      bg-neutral-200 dark:bg-black/50
      backdrop-blur-2xl
    `}
  >
  <NavItem href="/#experiencia" text="Experience" />
  <NavItem href="/#proyectos" text="Projects" />
  <NavItem href="/#sobre-mi" text="About me" />
  <NavItem href="/#contacto" text="Contact" />
  </nav>
</header>
